/* Header */
a{
    text-decoration:none;
}
div.thongbao{
    color:black;
    font-size: 17px;
    overflow: hidden;
    padding:5px;
}
div.thongbao > span {
    position:relative;
    padding-left: 200px;
}
.shipper{
	width:50px;
    margin:0;
	padding:0;	
}
#thongbaoText{
    top: -17px;
    position: relative;
}
div.headertop{
    overflow: hidden;
    background: linear-gradient(yellow, #cc0000);
    height: 56px;
}
body{
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: #cc0000;
    font-family:Roboto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.curve{
    border-radius: 5px;
}
#input{
    background-color: #f7f6f6;
    width:350px;
    height: 30px;
    font-size: 16px;
    color:black;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 11px;
    padding: 1px;
}
#search{
    width: 5.5%;
    position: relative;
    top: 7px;
}
.headertop-content
{
    padding: 0;
    margin: auto 0px;
    list-style-type: none;
}
.logoText {
    margin-left: 5px;
    line-height: 48px;
    font-size: 33px;
    font-family: Pacifico;
    color:black;
}
.headertop-content >li{

}
.headertop-content li:first-child a{
    display: block;
}
div.headertop li:nth-child(2){
    width: 29%;
}
.headertop-content>li:first-child{
    width: 13%;
} 
div.headertop li:nth-child(3){
    width: 12%;
}
div.headertop li:nth-child(4){
    width: 4%;
}
div.headertop li:nth-child(5){
    width: 4%;
}
img.img-logo {
    width: 50px;
    margin: 3px 0 0 7px;
    padding: 0;
}
#logo{
    margin:auto 0;
    width: 8%;
    line-break: 19px;
}
#searchbox{
    width: 32%;
    line-height: 80.34px;
}
#diadiem{
    line-height: 80.34px;
}
#where{
    position: relative;
    top: 18px;
}
.header-right a{
width: 5%;
}
#user{
    position: relative;
    top:14px;
    left: 8px;
}
#cart{
    position: relative;
    top:8px;
    left:20px;
}
.app{
    width:33px;
    position: relative;
    top: 10px;
    border: 2px solid black;
    border-radius: 32px;
    background-color: black;
}
#user>img{
width: 55%;
}
#cart>img{
width: 78%;
}
#download {
    
}
/* Menu */
ul.menu{
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 1;
}
ul.menu>li>a{
    font-size: 18px;
    color:#FFF;
    text-decoration: none;
    display: block;
    text-align: center;
}
.menu>li>a:hover{
	color:#000;
}
.menu-content:hover>.menu-items{
    display: block;
    position: absolute;

}
.menu-item:hover>a{
    color:black;
}

ul.menu>li {
    background-color:black;
    padding:0;
    margin: 0;
    width: 20%;
    text-align: center;
    line-height: 42px;
    display: block;
}
ul.menu>li:hover{
    background-color:#ffd633;
	color:#000;
}
/* Menu content */
ul.menu-items {
    background-color:#ffd633;
    width: 20%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    display: none;
    z-index: 999;
}
li.menu-item {
    margin: 0;
    text-align: center;
    line-height: 30px;
    z-index:99;
}
li.menu-item:hover {
    margin: 0;
    text-align: center;
    line-height: 30px;
    z-index:99;
	background-color:#000;
}
li.menu-item>a{
        font-size: 15px;
        color:white;
        text-decoration: none;
        display: block;
        text-align: center;
        z-index: 999;
}
li.menu-item>a:hover{
	color:	#ffd633;
}
/* Slide show */
.mySlides {display: none;}
.slideshow-container {
    max-width: 50%;
    position: relative;

    margin-left: 68px; 
    margin-right: 0;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color:cornflowerblue;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
.numbertext {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dots{
overflow: hidden;
width: 50%;
left:26.5%;
position: relative;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .clip{
    width: 540px;
    height: 355.4px;
    margin-right: 66px;
  }
/* Fade animation */
.fade {
    /* -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s; */
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  /* @-webkit-keyframes fade {
    from {opacity: 0.5} 
    to {opacity: 1}
  } */
  
  @keyframes fade {
    from {opacity: 0.5} 
    to {opacity: 1}
  }
/* Body */
.flag{
    width:45px;
    position: relative;
    top: 12px;
}
.body{
    border-radius: 14px;
    overflow: hidden;
    margin: 40px auto;
    width: 90%;
}
.section{
    background-color:#EBEBEB;
    overflow: hidden;
}
.body h2{
    background-color:#EBEBEB;
}
.section-content img:hover {
    transform: scale(1.1); 
}
.section-content{
    height: 205px;
    width: 18%;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.4);
    border-radius: 5px;
}
.section-content>div{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.section-content img{
    cursor: pointer;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.section-content a{
    text-decoration: none;
    color: black;
}
h4{
    margin: 0;
    text-align: center;
}
.section-content span{
    position: relative;
    right: 5px;
}
h2{
margin: 0;
text-align: center;
}
.section-content>a:hover {
    color: red;
}

/* Danhgia */
.danhgia{
    overflow: hidden;
}

/* Footer */
.footer{
    background-image: url("../image/footer-bg.png");
    background-repeat:no-repeat;
    height: 190px;
    width: 100%;
    background-color:#D3D3D3;
    overflow: hidden;
    font-size: 13px;
    font-weight:bold;
}

.footer a{
    padding: 0;
    color: dimgray;
    display: block;
    margin: 5px 20px 0px;
    width: 80px;
}
.footer-left a::first-letter{
    color:yellow;
    font-size: 15px;
}
.footer-left{
    width: 25%;
     margin-top:10px;
}
.footer-mid{
    height: 70px;
    text-align: center;
    width: 50%;
}
.footer-right{
    width: 18%;
    margin-left: 85px;
}
.footer-right img{
    padding: 2px;
    display: block;
}
.footer-right>div{
    margin-top: 5px;
}
.footer-right a{
    line-height: 33px;
    width: 100px;
    height: 35px;
}
 /* #D3D3D3:Màu footer */
.heart{
    margin-top:35px;
    left:433px;
    background-color:blue;
    width:54px;
    height:30px;
    position:absolute;
    transform-origin: right bottom;
    transition:0.75s;
}
.heart::before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:blue;
    transition:1.5s;
    transform-origin: right bottom;
    margin-bottom: 0;
}
.heart:hover{
    transform:rotate(45deg);
    background-color: red;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
}
.heart:hover::before{
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
    transform: rotate(450deg)translateY(30px);
    background-color: red;
}
.element {
    display: inline-block;
    height: 70px;
    width: 9%;
    padding: 1px;
    margin-top: 5px;
    margin-right: 15px;
    animation: skew 1.5s infinite;
    animation-direction: alternate; 
    transform: skew(30deg);
    opacity: .8;
  }
  
  @keyframes skew {
    0% {
      transform: skewX(30deg);
    }
    100% {
      transform: skewX(-30deg);
    }
  }
.element img{
    width: 68px;
}




/* Loader */
#loading{
	background-color:tan;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 999;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
	width: 40px;
	margin-top: -50px;
	margin-left: -20px;
}
.object{
	width: 40px;
	height: 8px;
	margin-bottom:20px;
	background-color: #FFF;
	-webkit-animation: animate 0.8s infinite;
	animation: animate 0.8s infinite;
	}
#object_two { 
	-webkit-animation-delay: 0.2s; 
    animation-delay: 0.2s;

	}
#object_three {	
	-webkit-animation-delay: 0.4s; 
    animation-delay: 0.4s; 
	}
@-webkit-keyframes animate {
 
  50% { 
    transform: scale(1.5);  
	  }
}

@keyframes animate {
  50% {
    transform: scale(1.5);  
	  }
}
/* Back to top */
 #top-up {
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    right: 10px;
    display: none;
    } 
#upIcon{
    border:1px outset gray;
    border-radius: 50px;
}
.tooltip{
    display: inline-block;
    position: relative;
    margin:auto;
    text-align: center;
}
.tooltip .tooltiptext
{
   display: none;
    position: fixed;
    padding: 9px;
    top: 51px;
    color:black;
    background-color:#e0e0d1;  
    z-index: 999;
    border: 2px solid black;
    border-radius: 11px;
}
.tooltip:hover .tooltiptext {
   display: block;
}
.tooltip .tooltiptext::after {

    content:" ";
	position:absolute;
	border-style:solid;
	border-color:transparent transparent black transparent;
	bottom:100%;
	right:8%;
	border-width:8px;
}
.carttip{
    right:28px;
}
.icon{
    width: 50px;
}
.usetip{
    right: -2px;
}
/* Modal View */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
/* .modal1 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
} */
.section-content>div>a{
    border:1.5px solid orange;
    border-radius: 50px;
    padding:5px;
    background-color: orange;
}
.section-content>div>a:hover{
    color: white;
    background-color: red;
}
.modal-content {
    width:700px;
    height:520px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}
/* .modal-content1 {
    width:700px;
    height:520px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}
.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* thêm đoạn này nè */
div.section>a{
color:black;
position: relative;
left: 90%;
font-size: 18px;
}
div.section>a:hover{
    color: yellow;
}